rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /{document=**} {
      allow read, write: if false;
    }

    match /agents/{agent} {
      allow create: if isSignedIn();
    }

    match /kiosks/{kiosk} {
      allow create: if isSignedIn();
    }

    match /wholesellers/{wholeseller} {
      allow create: if isSignedIn();
    }
  }
}